body {
    margin-left: 22.5vw;
    margin-right: 22.5vw;
    margin-top: 5vw;
}

header img {
    width: 200px;
    height: 200px;
}

header {
    display: grid;
    grid-template-columns: 270px auto;
}


#portfolioknap {
    width: 85px;
    height: 35px;
    border-radius: 5px;
    background-color: ghostwhite;
    border: 0.5px solid;
    cursor: pointer;
}

#portfolioknap:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

#fotocontainer1 {
    display: grid;
    grid-template-columns: 309.6px auto;
    margin-left: 7vw;
    margin-top: 4vw;
    grid-gap: 5vw;
    margin-bottom: 5vw;
}

#fotocontainer1 img {
    width: 300px;
    height: 300px;
}

#fotocontainer2 {
    display: grid;
    grid-template-columns: auto 309.6px;
    margin-left: 7vw;
    margin-top: 4vw;
    grid-gap: 5vw;
    margin-bottom: 5vw;
}

#fotocontainer2 img {
    width: 300px;
    height: 300px;
}

#hvem {
    border: 0.5px solid black;
}

#billede1 img {
    height: 100%;
    width: 100%;
}

#hvem2 {
    border: 0.5px solid black;
}

#billede2 img {
    height: 100%;
    width: 100%;
}

#fotocontainer3 {
    display: grid;
    grid-template-columns: 309.6px auto;
    margin-left: 7vw;
    margin-top: 4vw;
    grid-gap: 5vw;
    margin-bottom: 5vw;
}

#hvem3 {
    border: 0.5px solid black;
}

#billede3 img {
    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 769px) and (min-width: 414px) {

    body {
        margin-left: 5vw;
        margin-right: 5vw;
    }

    #info {
        font-size: 14px;
    }

    #fotocontainer1 {
        display: grid;
        grid-template-columns: 309.6px auto;
        margin-left: 7vw;
        margin-top: 4vw;
        grid-gap: 5vw;
        margin-bottom: 5vw;
    }
}

@media only screen and (max-width: 414px) and (min-width: 350px) {

    body {
        margin-left: 10vw;
    }

    header img {
        width: 125px;
        height: 125px;
    }

    header {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 5vw;
    }

    nav {
        grid-column-start: 1;
    }

    #info {
        grid-column-start: 2;
        text-align: left;
        font-size: 10px;
    }

    #fotocontainer1 {
        display: grid;
        grid-template-columns: 309.6px;
        grid-template-rows: auto auto;
        margin-left: 0vw;
        margin-top: 4vw;
        grid-gap: 5vw;
        margin-bottom: 5vw;
    }

    #hvem {
        grid-row-start: 1;
    }

    #billede1 {
        grid-row-start: 2;
    }

    #fotocontainer2 {
        display: grid;
        grid-template-columns: 309.6px;
        grid-template-rows: auto auto;
        margin-left: 0vw;
        margin-top: 4vw;
        grid-gap: 5vw;
        margin-bottom: 5vw;
    }

    #hvem2 {
        grid-row-start: 1;
    }

    #billede2 {
        grid-row-start: 2;
    }

    #fotocontainer3 {
        display: grid;
        grid-template-columns: 309.6px;
        grid-template-rows: auto auto;
        margin-left: 0vw;
        margin-top: 4vw;
        grid-gap: 5vw;
        margin-bottom: 5vw;
    }

    #hvem3 {
        grid-row-start: 1;
    }

    #billede3 {
        grid-row-start: 2;
    }
}
