.text {
    font-family: 'Titillium Web', sans-serif;
}

p,
h3 {
    font-size: 15px;
}

header p {
    font-size: 20px;
}

body {
    margin-left: 22.5vw;
    margin-right: 22.5vw;
    margin-top: 5vw;
}

header img {
    width: 200px;
    height: 200px;
}

header {
    display: grid;
    grid-template-columns: 270px auto;
}

a {
    text-decoration: none;
    color: black;
}

#ommigknap {
    width: 85px;
    height: 35px;
    border-radius: 5px;
    background-color: ghostwhite;
    border: 0.5px solid;
    cursor: pointer;
    text-decoration: none;
    grid-column-start: 2;
    text-align: center;
}

#ommigknap:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

#portfolioknap {
    width: 85px;
    height: 35px;
    border-radius: 5px;
    background-color: ghostwhite;
    border: 0.5px solid;
    cursor: pointer;
    text-decoration: none;
    grid-column-start: 1;
    text-align: center;
}

#portfolioknap:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

#navigation {
    display: grid;
    grid-template-columns: 90px 85px;
}

#fotocontainer1 {
    display: grid;
    grid-template-columns: 309.6px 309.6px 309.6px;
    grid-template-rows: 300px;
    margin-top: 4vw;
    grid-gap: 1vw;
    margin-bottom: 5vw;
}

#fotocontainer1 img {
    width: 300px;
    height: 300px;
}

#hvem {
    grid-column-start: 1;
    border: 0.5px solid black;
    grid-column-end: span 2;
}

#billede1 {
    grid-column-start: 3;
}

#fotocontainer2 {
    display: grid;
    grid-template-columns: 309.6px 309.6px 309.6px;
    grid-template-rows: auto;
    margin-top: 4vw;
    grid-gap: 1vw;
    margin-bottom: 5vw;
}

#hvem2 {
    grid-column-start: 1;
    border: 0.5px solid black;
}

#billede2 {
    grid-column-start: 2;
    border: 0.5px solid black;
}

#rubrik2 {
    grid-column-start: 3;
    border: 0.5px solid black;
}


#billede2 img {
    height: 100%;
    width: 100%;
}

#hvem2 img {
    height: 100%;
    width: 100%;
}

#rubrik2 img {
    height: 100%;
    width: 100%;
}

#fotocontainer3 {
    display: grid;
    grid-template-columns: 309.6px 309.6px 309.6px;
    grid-template-rows: 300px;
    margin-top: 4vw;
    grid-gap: 1vw;
    margin-bottom: 5vw;
}

#hvem3 {
    grid-column-start: 1;
    border: 0.5px solid black;
    grid-column-end: span 3;
}

#fotocontainer4 {
    display: grid;
    grid-template-columns: 309.6px 309.6px 309.6px;
    grid-template-rows: auto;
    margin-top: 4vw;
    grid-gap: 1vw;
    margin-bottom: 5vw;
}

#hvem4 {
    grid-column-start: 1;
    grid-column-end: span 3;
    border: 0.5px solid black;
}

#fedtext {
    font-weight: bold;
}

#fedtext2 {
    font-weight: bold;
}

#fedtext3 {
    font-weight: bold;
}

@media only screen and (max-width: 769px) and (min-width: 414px) {

    body {
        margin-left: 5vw;
        margin-right: 5vw;
    }

    #info {
        font-size: 14px;
    }

    #fotocontainer1 {
        display: grid;
        grid-template-columns: 230px 230px 230px;
        grid-template-rows: auto;
        margin-top: 4vw;
        grid-gap: 1vw;
        margin-bottom: 5vw;
        font-size: 12px;
    }

    #fotocontainer1 img {
        width: 250px;
        height: 250px;
    }

    #fotocontainer2 {
        display: grid;
        grid-template-columns: 220px 220px 220px;
        grid-template-rows: auto;
        margin-top: 4vw;
        grid-gap: 1vw;
        margin-bottom: 5vw;
    }

    #fotocontainer3 {
        font-size: 12px;
        grid-template-columns: 220px 220px 220px;
        grid-template-rows: auto;
    }

    #fotocontainer4 {
        font-size: 12px;
        grid-template-columns: 220px 220px 220px;
        grid-template-rows: auto;
    }
}

@media only screen and (max-width: 414px) and (min-width: 350px) {
    body {
        margin-left: 10vw;
    }

    header img {
        width: 125px;
        height: 125px;
    }

    header {
        display: grid;
        grid-template-columns: auto 150px;
        grid-gap: 5vw;
    }

    nav {
        grid-column-start: 1;
    }

    #info {
        grid-column-start: 2;
        text-align: left;
        font-size: 10px;
    }

    #portfolioknap {
        width: 55px;
        height: 25px;
        border-radius: 5px;
        background-color: ghostwhite;
        border: 0.5px solid;
        cursor: pointer;
        font-size: 10px;
    }

    #ommigknap {
        width: 55px;
        height: 25px;
        border-radius: 5px;
        background-color: ghostwhite;
        border: 0.5px solid;
        cursor: pointer;
        font-size: 10px;
    }

    #fotocontainer1 {
        display: grid;
        grid-template-columns: 309.6px;
        grid-template-rows: auto auto auto;
        margin-top: 4vw;
        grid-gap: 1vw;
        margin-bottom: 5vw;
        font-size: 12px;
    }

    #billede1 {
        grid-row-start: 2;
        grid-column-start: 1;
    }

    #fotocontainer1 {
        display: grid;
        grid-template-columns: 309.6px;
        grid-template-rows: auto auto auto;
        margin-top: 4vw;
        grid-gap: 1vw;
        margin-bottom: 5vw;
        font-size: 12px;
    }

    #hvem2 {
        grid-row-start: 1;
        grid-column-start: 1;
    }

    #billede2 {
        grid-column-start: 1;
        grid-row-start: 2;
    }

    #rubrik2 {
        grid-column-start: 1;
        grid-row-start: 3;
    }

    #fotocontainer3 {
        display: grid;
        grid-template-columns: 309.6px;
        grid-template-rows: auto auto auto;
        margin-top: 4vw;
        grid-gap: 1vw;
        margin-bottom: 5vw;
        font-size: 12px;
    }

    #fotocontainer4 {
        display: grid;
        grid-template-columns: 309.6px;
        grid-template-rows: auto auto auto;
        margin-top: 4vw;
        grid-gap: 1vw;
        margin-bottom: 5vw;
        font-size: 12px;
    }
}
